name: Docker CI

on:
  workflow_call:
    inputs:
      repository:
        description: 'Repository to checkout'
        required: true
        type: string
      app_name:
        description: 'Application name'
        required: true
        type: string
      app_version:
        description: 'Application version to tag the Docker image'
        required: true
        type: string
    secrets:
      docker_username:
        required: true
      docker_password:
        required: true

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_password }}

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64/v8
          push: false
          load: true
          tags: |
            ${{ secrets.docker_username }}/${{ inputs.app_name }}:${{ inputs.app_version }}
            ${{ secrets.docker_username }}/${{ inputs.app_name }}:latest

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.docker_username }}/${{ inputs.app_name }}:${{ inputs.app_version }}
          format: 'table'
          exit-code: '1'
          severity: 'HIGH,CRITICAL'

      - name: Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64/v8
          push: true
          tags: |
            ${{ secrets.docker_username }}/${{ inputs.app_name }}:${{ inputs.app_version }}
            ${{ secrets.docker_username }}/${{ inputs.app_name }}:latest
